
<div class="container">
  <div class="jumbotron">
    <h1>All of My Boat Blog Posts</h1>


    <%= link_to "Create a new blog post", new_user_boat_blog_path(current_user), class: "btn btn-info btn-lg" %>
    <%= link_to "Return to users page", user_path(current_user), class: "btn btn-success btn-lg" %>
   </div>

    	<%-# commented : checking if @posts is empty -%>
    <% if @boat_blogs.empty? %> 
      <span>Sorry, post is empty </span>
    <% else %>
      <% @boat_blogs.each do |p| %>
       <% if p.user_id == current_user.id %>
       
    <p>
      <strong>Location:</strong>
       <%= p.location %>
    </p>
    <p>
      <strong>Date:</strong>
       <%= p.date %>
    </p>
    <p>
      <strong>Post:</strong>
       <%= p.post %>
    </p>
    <hr>
        
       <% end %>
      <% end %>
<% end %>

</div>

 