<div calss="container">
	<div class="jumbotron">
		<h1>Create a new Boat post</h1>
			<%= link_to "Return to My Boat Blog", user_boat_blogs_path(current_user), class: "btn btn-info btn-lg"%>
			<%= link_to "Return to users page", user_path(current_user), class: "btn btn-warning btn-lg" %>
	</div>


<div class="row">
<div class="col-md-6 col-md-offset-3">
<%= bootstrap_form_for(:boat_blog, :url => {:action => :create}) do |f| %>

<%= f.date_field :date %>
<%= f.text_field :location %>
<%= f.text_area :post %>
<%= f.submit "Create New Post", class: "btn btn-primary btn-lg" %>
<%end%>
</div>

</div>