<h1>BoatBlogs#new</h1>
<p>Find me in app/views/boat_blogs/new.html.erb</p>



<div class="row">
<div class="col-md-6 col-md-offset-3">
<%= bootstrap_form_for(:boat_blog, :url => {:action => :create}) do |f| %>

<%= f.date_field :date %>
<%= f.text_field :location %>
<%= f.text_area :post %>
<%= f.submit "Create New Post", class: "btn btn-primary btn-lg" %>
<%end%>
</div>
</div>