<div class="container">
	<div class="jumbotron">

		<h1>Users#show Attempt at User specific page</h1>
		<p>Find me in app/views/users/show.html.erb</p>

		<%= link_to('Logout', destroy_user_session_path, :method => :delete, class: "btn btn-danger btn-lg") %> 
		<%= @user.name %>
		<% @user.boats.each do |b| %>
		<%= b.name %>
		<%end%>

	</div>
	

	<p><%= link_to "Add New Boat", new_boat_path %> </p>
	<div class="col-md-3">
	<%= image_tag("27701327-silhouette-kayakers-kayak-copy.jpg", :alt => "kayaker") %>
	</div>

	<div class="col-md-6 col-md-offset-3">
		<div id="boats">
			<h2>My Boats</h2>
			<div class="table-responsive">
				<table class="table">
					<tr>
						<th></th> 
						<th>Boats</th> 
					</tr>
					<tbody></tbody>
					<% if @user.boats.each do |b|%>
						<tr>
							<td><%= b.name %></td>
							<td><%= b.manufacturing_no %></td>
						</tr>
						<%end%>
					<%end%>		
				</table>
			</div>
		</div>
	</div>



</div>