<main class="user-bkgd">

 
  <header class="header">
    <div class="container">
      <h1><%= current_user.name.capitalize + "'s" %>  Dashboard.</h1>
    </div>
  </header>

  <nav class="nav">
    <div class="container">

      <%= link_to('Logout', destroy_user_session_path, :method => :delete, class: "btn btn-basew") %> 

    <!-- Single SEARCH button -->
    <div class="btn-group btn-group-lg">
      <button type="button" class="btn btn-basew dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Found someone else's kit? Search <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a><%= link_to "Search for a Boat with new search", new_search_path %></a></li> <!-- Adjust route -->
        <li role="separator" class="divider"></li>
        <li><a href="#">Log a found item</a></li> <!-- add link? -->
      </ul>
    </div>

		<!-- To My Blog/s Button-->
		<div class="btn-group btn-group-lg">
		  <button type="button" class="btn btn-basew dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    My Blog/s <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu">
		    <li><a><%= link_to "Log an adventure", new_logbook_post_path(current_user.logbook.id) %></a></li>
		    <li><a></a></li><!-- Adjust route -->
		    <li role="separator" class="divider"></li>
		    <li><a><%= link_to "View My Advenuture logbook", logbook_path(current_user.logbook.id) %></a></li>
		  </ul>
		</div>

<!-- Add new kit button -->
    <div class="btn-group btn-group-lg">
      <button type="button" class="btn btn-basew dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Add Kit. <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a><%= link_to "Add New Boat", new_user_boat_path(current_user) %></a></li>
        <li><a><%= link_to "Add New Bike", new_user_bike_path(current_user) %></a></li>
        <li><a><%= link_to "Add New Board", new_user_boat_path(current_user) %></a></li>
      </ul>
    </div>

		<!-- Search box starts-->
		<%= form_tag(boat_search_path) do %>
			 Boat Search
			   <%= search_field_tag(:manufacturing_no) %>
			   <%= submit_tag "enter" %>
			<% end %>
		<!-- Search box ends-->
    </div>
	</nav>
  <!-- End of Nav -->

	

<div class="container">
	<div class="col-md-3">
		<%= image_tag("27701327-silhouette-kayakers-kayak-copy.jpg", :alt => "kayaker") %>
	</div>

<!-- Boat Table -->

	<div class="col-md-6 col-md-offset-3">
		<div id="boats">
			<h2>My Boats</h2>
			<div class="table-responsive">
				<table class="table">
					<tr>
						<th>Boat Make</th> 
						<th>Boat Name</th> 
						<th>Manufacturing No.</th> 
					</tr>
					<tbody></tbody>
					<% if @user.boats.each do |boat|%>
						<tr>
							<td><%= boat.make %></td>
							<td><%= boat.name %></td>
							<td><%= boat.manufacturing_no %></td>
						</tr>
						<%end%>
					<%end%>		
				</table>
			</div>
		</div>
	</div>
</div>


<!-- Bike Table -->
<div class="container">
	<div class="col-md-6">
			<div id="bikes">
				<h2>My Bikes</h2>
				<div class="table-responsive">
					<table class="table">
						<tr>
							<th>Bike Name</th> 
							<th>Manufacturing No.</th> 
						</tr>
						<tbody></tbody>
						<% if @user.bikes.each do |bike|%>
							<tr>
								<td><%= bike.name %></td>
								<td><%= bike.manufacturing_no %></td>
							</tr>
							<%end%>
						<%end%>		
					</table>
				</div>
			</div>
		</div>

	<div class="col-md-3 col-md-offset-6">
		<%= image_tag("0451fd355b84e607737215d3770a0489_copy2.jpg", :alt => "biker") %>
	</div>

</div>


</main>