<div class="container">
	<div class="jumbotron">

		<h1> User specific page</h1>
		<p><%= current_user.name + "'s" %>  Home Page</p>

		<%= link_to('Logout', destroy_user_session_path, :method => :delete, class: "btn btn-danger btn-lg") %> 

		<!-- Single SEARCH button -->
<div class="btn-group btn-group-lg">
  <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Found someone else's kit? Search <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a><%= link_to "Search for a Boat with new search", new_search_path %></a></li> <!-- Adjust route -->
    <li role="separator" class="divider"></li>
    <li><a href="#">Log a found item</a></li> <!-- add link? -->
  </ul>
</div>


<!-- To My Blog/s Button-->
<div class="btn-group btn-group-lg">
  <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    My Blog/s <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a><%= link_to "Add new boat blog post", new_user_boat_blog_path(current_user) %></a></li>
    <li><a></a></li><!-- Adjust route -->
    <li role="separator" class="divider"></li>
    <li><a><%= link_to "View My Boat Blog", user_boat_blogs_path(current_user) %></a></li>
  </ul>
</div>

	</div>
	
<!-- New kit buttons toolbar -->
<div class="btn-group btn-group-justified" role="group" aria-label="...">
	<div class="btn-group" role="group">
	  <button type="button" class="btn btn-info"><%= link_to "Add New Boat", new_user_boat_path(current_user) %></button>
	</div>
  <div class="btn-group" role="group">
	  <button type="button" class="btn btn-success"><%= link_to "Add New Bike", new_user_bike_path(current_user) %></button>
	</div>
  <div class="btn-group" role="group">
	  <button type="button" class="btn btn-warn"><%= link_to "Add New Board", new_user_boat_path(current_user) %></button>
	</div>
</div>
<!-- End New kit buttons toolbar -->

<div class="container">
	<div class="col-md-3">
		<%= image_tag("27701327-silhouette-kayakers-kayak-copy.jpg", :alt => "kayaker") %>
	</div>

<!-- Boat Table -->

	<div class="col-md-6 col-md-offset-3">
		<div id="boats">
			<h2>My Boats</h2>
			<div class="table-responsive">
				<table class="table">
					<tr>
						<th>Boat Make</th> 
						<th>Boat Name</th> 
						<th>Manufacturing No.</th> 
					</tr>
					<tbody></tbody>
					<% if @user.boats.each do |boat|%>
						<tr>
							<td><%= boat.make %></td>
							<td><%= boat.name %></td>
							<td><%= boat.manufacturing_no %></td>
						</tr>
						<%end%>
					<%end%>		
				</table>
			</div>
		</div>
	</div>
</div>


<!-- Bike Table -->
<div class="container">
	<div class="col-md-6">
			<div id="bikes">
				<h2>My Bikes</h2>
				<div class="table-responsive">
					<table class="table">
						<tr>
							<th>Bike Name</th> 
							<th>Manufacturing No.</th> 
						</tr>
						<tbody></tbody>
						<% if @user.bikes.each do |bike|%>
							<tr>
								<td><%= bike.name %></td>
								<td><%= bike.manufacturing_no %></td>
							</tr>
							<%end%>
						<%end%>		
					</table>
				</div>
			</div>
		</div>

	<div class="col-md-3 col-md-offset-6">
		<%= image_tag("0451fd355b84e607737215d3770a0489_copy2.jpg", :alt => "biker") %>
	</div>

</div>

</div>