<h1>Boat Search Results</h1>

<% if @search.search_boats.empty? %>
	<p> No records found </p>
<% else %>
<% @search.search_boats.each do |boat| %>
	<br>
	<div class=“div”>
	<h1>Boat Make:<%= " " + boat.make %></h1>
	<h1> Boat Name:<%= " " + boat.name %></h1>
	<h1>Boat Manufacturing Number:<%= " " + boat.manufacturing_no %></h1>

	<%end%>
<%end%>

<h2>Contact the Owner </h2>
 <p>Owner details: </p>
 <!-- Only visible if boolean true in user attributes for visible -->
 <p>User Email</p>
<!-- Only visible if logged in with emergency service log in. -->
 <p>Phone No.</p>

<%= link_to "Perform a new boat search", new_search_path %><br />
<%= link_to "return to my users page", user_path(current_user)%>