<h1>Boats#new</h1>
<p>Find me in app/views/boats/new.html.erb</p>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@boat) do |f| %>
    
    	<%= f.label :make %>
    	<%= f.select :make, ['pyranah', 'wavesport', 'zet', 'dagger', 'jackson', 'other']%>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :manufacturing_no %>
      <%= f.text_field :manufacturing_no, class: 'form-control'%>

      <%= f.submit "Add new boat", class: "btn btn-primary" %>
    <% end %>
  </div>
  <%= link_to "return to my users page", user_path(current_user)%>
</div>